<!-- Restabelecer contraseña view -->

<body>
  <div class="banner">
    <div class="logo-box">
      <img src="../../../assets/img/logo.png" alt="hero image of Doctors Galaxy" class="logo"> </div>
    <div class="text-box">
      <h1 class="heading-primary">¿Cuál es tu correo
        <br>eletrónico registrado?</h1>
      <form>
        <input type="text" class="email-recovery-input" name="email">
      </form>
      <p class="small-heading">Restabelecer contraseña</p>

    </div>

  </div>

</body>
