<body>

  <div class="banner">
    <div class="logo-box">
      <img src="../../../assets/img/" class="logo img" alt="logo">
    </div>

    <!-- Some content goes here.... -->
    <div class="text-box">
      <h1 class="heading-primary">Welcome</h1>
    </div>

    <!-- White box is the same in several views, only changes the content -->
    <div class="card-landing">
      <div class="welcome-intro">
        <p>Lorem ipsum dolor sit amet
          <br>voluptatum delectus itaque?
          <br>maiores pariatur architecto quasi
          <br> ab eum expedita id eos.
        </p>
      </div>
      <button class="btn-light">Go to my profile</button>
    </div>

  </div>
