<body>

  <div class="banner">
    <div class="logo-box">
      <img src="../../../assets/img/logo.png" class="logo" alt="hero image of Doctors Galaxy">
    </div>

    <!-- Some content goes here.... -->
    <div class="text-box">
      <h1 class="heading-primary">!Bienvenido¡</h1>
    </div>

    <!-- White box is the same in several views, only changes the content -->
    <div class="card-landing">
      <div class="welcome-intro">
        <p>Ya eres parte de Drs. Galaxy.
          <br> Te recomendamos llenar la
          <br> información de tu perfil. Puedes
          <br> editarla poco a poco.
        </p>
      </div>
      <button class="btn-light">Go to my profile</button>
    </div>

  </div>
