<!-- Add profile picture view -->

<body>

  <div class="banner">
    <div class="logo-box">
      <img src="../../../assets/img/" class="logo" alt="hero image">
    </div>

    <div class="text-box">
      <h1 class="heading-primary">Add a photo to your profile</h1>
    </div>

    <!-- White box is the same in several views, only changes the content -->
    <div class="upload-picture-card">
      <div class="container-plus-icon">
        <img src="../../../assets/img/plus-icon.svg" alt="Plus icon">
      </div>
      <button class="btn-dark">Next</button>
    </div>

  </div>
